body{
    width: 50%;
    background-color:brown;
    margin: 0 auto;
    border: 3px solid #fff;
}
h1, h3, p, li, footer{
    color: #fff;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    padding: 5px;
}
img.centraliza {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imagem{
    
}