body{
    width: 70%;
    background-color:brown;
    margin: 20px auto;
    border: 3px solid #fff;
    border-radius: 10%;
}

h1, h3, p, li, footer{
    color: #fff;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    padding: 5px;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.cabecalho{
    display: inline-block;
    width: 50%;
}

.cabecalho img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    margin: 25px auto;
}

.corpo{
    display: inline-block;
    margin: auto 55px;
    float: right;
}

.border{
    border-top: 2px solid #fff ;
}

.border .social{
    display: inline;
}

.border .social img{
    width: 40px;
}
